@model PharmacyManagement.Models.LoginC

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger mt-3">
        <ul>
            @foreach (var modelState in ViewData.ModelState.Values)
            {
                foreach (var error in modelState.Errors)
                {
                    <li>@error.ErrorMessage</li>
                }
            }
        </ul>
    </div>
}

<style>
    .login-box {
        width: 350px;
        margin: 100px auto;
        padding: 30px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .login-title {
        text-align: center;
        margin-bottom: 20px;
        font-size: 1.5rem;
        color: #6541e1;
        font-weight: bold;
    }

    .custom-input {
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
    }

    .btn-primary {
        background-color: #6541e1;
        border-color: #6541e1;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
    }

        .btn-primary:hover {
            background-color: #509c2f;
            border-color: #509c2f;
        }

    .input-group-text {
        background-color: #e9ecef;
        border: 1px solid #ced4da;
    }
</style>

<div class="login-box">
    <div class="login-title"><i class="fas fa-sign-in-alt"></i> Khách hàng đăng nhập</div>
    <form asp-action="Index" method="post">
        <div class="input-group mb-3">
            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
            <input asp-for="Email" type="email" class="custom-input form-control form-control-lg" placeholder="Email" />
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text"><i class="fas fa-lock"></i></span>
            <input asp-for="Password" type="password" class="custom-input form-control form-control-lg" placeholder="Mật khẩu" required />
        </div>

        <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Đăng nhập</button>
    </form>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />